<div class="quiz">
    @if (quizService.showResults()) {   
        <div class="results">
            <div class="congratulations">Congratulations!</div>
            <div class="results-info">
                <div>You have completed the quiz.</div>
                <div>
                    You've got {{ quizService.correctAnswers() }} of
                    {{ quizService.questions().length }} right.
                </div>
            </div>
            <div class="next-button" (click)="quizService.restart()">Restart</div>
        </div>
    }
    @else {
    <div>
        <div class="score">Question {{quizService.currentQuestionIndex() + 1}}/{{quizService.questions().length}}</div>
        <app-questions />
        <div class="next-button" (click)="quizService.goToNextQuestion()" [class.disabled]="!quizService.selectedAnswer()" >Next question</div>
    </div>
    }
</div>
